@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.woff2') format('woff2'),
         url('/fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Medium.woff2') format('woff2'),
         url('/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.woff2') format('woff2'),
         url('/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

.font-courgette {
    font-family: var(--font-courgette);
} 

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}